performance-web/node_modules/
performance-web/dist/
gulp/projeto/node_modules/
gulp/projeto/dist/
sass/site-apeperia/.sass-cache/
sass/site-apeperia/css/.sass-cache/

**/.DS_Store


angular2/alurapic/.tmp
angular2/alurapic/.DS_Store
angular2/alurapic/.DS_Store?
angular2/alurapic/.dpl/
angular2/alurapic/./vscode/
angular2/alurapic/client/.vscode/
angular2/alurapic/server/.vscode/
angular2/alurapic/server/node_modules/git 
angular2/alurapic/client/node_modules/
angular2/alurapic/client/typings/
angular2/alurapic/client/app/**/*.js
angular2/alurapic/client/app/**/*.map
angular2/alurapic/client/npm-debug.log
angular2/alurapic/server/npm-debug.log

react/cdc-admin/node_modules/
react/cdc-admin/build
